{#
 # Copyright (c) 2018 PayGate (Pty) Ltd
 #
 # Author: App Inlet (Pty) Ltd
 # 
 # Released under the GNU General Public License
 #}
<form name="form" id="form" class="form-horizontal text-left"
      action="{{ 'https://secure.paygate.co.za/payweb3/process.trans'}}" method="post">
    <input type="hidden" name="PAY_REQUEST_ID" value="{{ PAY_REQUEST_ID }}"/>
    <input type="hidden" name="CHECKSUM" value="{{ CHECKSUM }}"/>
    <div class="buttons">
        <div class="pull-right"><input type="submit" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary"/>
        </div>
    </div>
</form>
<script type="text/javascript"><!--
$('#form').submit(function() {
	$.ajax({
		url: 'index.php?route=extension/payment/paygate/before_redirect',
		dataType: 'json',
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {

		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
	
});